.nav-wrapper {
    width: 100%;
}

.logout-btn {
    display: flex;
    align-items: center;
}
.logout-btn i {
    margin-right: 5px;
}
a.nav-link {
    display: flex !important;
    flex-direction: column !important;
    align-content: center !important;
    align-items: center !important;
    color: white;
}

.navbar-nav .nav-item {
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
}

.navbar-nav .nav-item .nav-link i {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.navbar-brand img {
    max-height: 50px; /* Ajusta el tamaño del logo según tus necesidades */
}



/* Transición para el menú colapsable */
.collapse {
    display: none;
    transition: height 0.3s ease;
}

.collapse.show {
    display: block;
    height: auto;
    transition: height 0.3s ease;
}

