.nav-wrapper {
    width: 100%;
}
.logout-btn {
    display: flex;
    align-items: center;
}
.logout-btn i {
    margin-right: 5px;
}
a.nav-link {
    display: flex !important;
    flex-direction: column !important;
    align-content: center !important;
    align-items: center !important;
    color: white;
}

.navbar-nav .nav-item {
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
}

.navbar-nav .nav-item .nav-link i {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.navbar-brand img {
    max-height: 50px; /* Ajusta el tamaño del logo según tus necesidades */
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    border: 2px solid black; /* Borde negro para la tabla */
}

thead {
    background-color: #009879;
    color: #ffffff;
}

th, td {
    padding: 12px;
    text-align: center; /* Centrar el texto */
    border: 1px solid black; /* Borde negro para las celdas */
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

img {
    width: 100px;
    height: auto;
}

.centrar-titulo-listar {
    margin-top: 27px;
    margin-bottom: 20px;
    background: cornflowerblue;
}