body, html {
    height: 100%;
    background-color: #6fc2e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-registro {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: azure;
    padding: 15px;
    border-radius: 14px;
}

#clock-container {
    background-color: #00796b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#clock {
    font-size: 3rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.texto-login-alineado {
    text-align: center;
}

.fuente-login {
    font-size: 20px;
    font-weight: bold;
}

.texto-registrarse {
    text-transform: uppercase;
    color: orange;
    letter-spacing: 2px;
    margin-top: 10px;
    font-weight: bold;
}

.centrar-texto-registrarse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}